/*top-bar style*/
.top-bar{
	color:#000000;
	text-align: right;
    margin-top: -10px;
}

.top-bar__catagory{
	margin-right: 13px;
	cursor: pointer;
    font-size: 14.2px;
}

/*top-bar events*/
.top-bar__catagory:hover{
    text-decoration: underline;
}

/*search style*/
.search{
	margin-top: 158px;
}

.search__search-box{
	border-radius: 3px;
	align-self: center;
	height:45px;
	box-shadow: 0 1.85px 1.5px -1.5px #999999;
	border-color: #e7e7e7;
	width:575px;
	margin:0 auto;
	display:block;
	font-size: 16px;
	color: black;
}

.search__logo{
	margin:0 auto;
	display:block;
	margin-bottom: 26px;		
}

.search__language-text{
	font-size: 13px;
	text-align:center;
	padding-top: 3px
}

.search__language-name{
	color:#7173f8;
}

.search__search-button{
	margin-top: 33px;
	background-color:#f2f2f2;
	height: 35px;
	width:130px;
	border-width: 0px;
	color:#6c6c6c;
	font-size: 13px;
    font-weight: bold;
    display: inline-block;
}

.search__button-container{
	margin:0 auto;
	display:block;
	margin-bottom: 26px;		
	width: 280px;
}

.search__search-button--left-spacing{
	margin-left: 0px
}

.search__search-button--right-spacing{
	margin-left: 5px
}

/*search events*/
.search__search-box:hover{
    box-shadow : 0px 4px 8px -1.5px #cccccc;
}

.search__search-box:focus{
    box-shadow : 0px 4px 12px -1.5px #cccccc;
}

.search__search-button:hover{
	color : #000000;
    backgroundColor : #F2F2F2;	
    background: linear-gradient(#f7f7f7,#f1f1f1);	
	border-style: solid;
	border-width: 0.8px;
	border-color:#C4C4C4;
	border-radius: 2px;
	cursor: default
}

/*footer-bar style*/

.footer-bar{
	position: absolute;
	bottom: 0;
	width: 100%
}

.footer-bar__content{
	background-color:#f2f2f2;
	height: 42px;
	border-bottom-color:#efefef;
	border-style: solid;border-right-width: 0px;
	border-left-width: 0px;border-top-width: 1px;
	border-bottom-width: 1px;
	border-color:#e3e3e3;
}

.footer-bar__text-top{
	color:#767676;
	font-size: 15px;
	margin-left: 30px;
	padding-top: 10px;
	text-align: left;
}

.footer-bar__text-bottom{
	color:#767676;
	font-size: 13px;
	margin-left: 30px;
	padding-top: 11px;
	text-align: left;
}

.footer-bar__catagories--bottom-spacing{
	margin-left: 23px
}

.footer-bar__catagories{
	cursor: pointer;
}

/*footer-bar events*/

.footer-bar__catagories:hover{
    text-decoration: underline;
}

