/*top-bar style*/
.top-bar{
	height: 123px;
	background-color:#fafafa;
	margin-top: -24px;

	border-bottom-color:#efefef;
	border-style: solid;border-right-width: 0px;
	border-left-width: 0px;border-top-width: 1px;
	border-bottom-width: 1px;
	border-color:#ebebeb;

}

.top-bar__sub-container{
	margin-top: 24px;
	margin-left: 13.5px;
}

.top-bar__logo{
	width: 7.50%;
	float: left;
    cursor:pointer;
}

.top-bar__search-form{
	width: 40%;
	float: left
}

.top-bar__search-icon{
	float: right;
	width: 3.1%;
	margin-top: -86.5px;
}

.top-bar__search-button{
    float: right;
    opacity:0;
    height:42px;
    width:50px;
    margin-top: -103px;
    cursor: pointer;
}

.top-bar__search-icon-container{
    margin-left:13.5px;
}

.top-bar__search-button-container{
    margin-left: 26.5px;
}

.top-bar__search-box{
	border-radius: 3px;
	height:46px;
	box-shadow: 0 1.85px 1.5px -1.5px #999999;
	border-color: #e7e7e7;
	width:100%;
	margin:0 auto;
	display:block;
	margin-top: -6px;
	margin-left: 17px;
}
.top-bar__search-input{
    align-self: center;
    width:93.5%;
    height: 100%;
    font-size: 16px;
    color: black;
    border:0px;
}

.top-bar__catagories-container{
	margin-top: 26px;
	margin-left: -3px;
    width: 900px;
}

.top-bar__catagories{
	margin-left: 20px;
	font-size: 12.5px;
	color: #777;
	cursor: pointer;
	display: block;
	width: 49px;
	height: 31px;
	float: left;
	text-align: center;
    user-select: none;
    font-family: Arial;
}

/*search events*/
.top-bar__search-box:hover{
    box-shadow : 0px 4px 8px -1.5px #cccccc;
}

.top-bar__search-box:focus{
    box-shadow : 0px 4px 12px -1.5px #cccccc;
}

.top-bar__catagories:hover:not(.active){
	color : #000000;
}

.active{
	color: #1a88ed;
	font-weight : bold;
	border-bottom : 3px solid #1A73E8;
}

/*warning-bar style*/
.warning-bar {
    border-bottom : 1px solid #efefef;
    background-color: #ffcc99;
    font-weight: bold;
    width: 100%;
    font-size: 14px;
    height:29px;
    padding-top: 2.5px;
    text-align: center;
    color: white;
}

/*result-status style*/
.result__status{
	margin-left: 165.5px;
	margin-top: 12.5px;
	color: #77778c;
	font-size: 13px;
    margin-top: 50px;
}

/*result-url style*/
.result{
    min-height: 36.4vh;
}

.result__header{
	font-size: 18px;
	margin-left: 165.5px;
	color:#1a0dab;
	cursor: pointer;
    font-family: arial,sans-serif;
    line-height: 1.2;
    white-space: nowrap;
    max-width: 550px;
    word-wrap: break-word
}

.result__header--spacing-top{
    margin-top: 22px;
}

.result__link{
	margin-top: 0px;
	font-size: 14px;
    font-family: arial,sans-serif;
    line-height: 16px;
	margin-left: 165.5px;
	color:#006621
}

.result__description{
    font-family: arial,sans-serif;
    margin-top: -17px;
	font-size: 13.5px;
	margin-left: 165.5px;
	color:#545454;
	width: 550px;
}

/*result-url events*/
.result__header:hover{
    text-decoration: underline;
}

/*pagination style*/
.pagination_view{
	margin-left: -85px;
}

.pagination__navigation{
	margin-top: 40px;
	background-color:#f2f2f2;
	height: 45px;
	width:100px;
	border-width: 0px;
	color:#6c6c6c;
	font-size: 13px;
    font-weight: bold;
    padding-top: 2px;

}

.pagination__margin-left{
	margin-left: 250px;
}

.pagination__margin-right{
	margin-left: -4px;
}

.pagination_pages {
    display: inline-block;
}

.pagination_pages a {
    color: black;
    padding: 10px 16px;
    text-decoration: none;
    transition: background-color .3s;
    border: 1px solid #ddd;
	margin-left: -5px;
}

.pagination_pages a.active {
    background-color: #495057;
    color: white;
    border: 1px solid #495057;
}

.pagination_pages a:hover:not(.active) {
	background-color: #ddd;
}

/*result-url events*/
.pagination__navigation:hover{
	color : #000000;
    backgroundColor : #F2F2F2;	
    background: linear-gradient(#f7f7f7,#f1f1f1);	
	border-style: solid;
	border-width: 0.8px;
	border-color:#C4C4C4;
	border-radius: 2px;
	cursor: default;
}

/*footer-bar style*/

.footer-bar{
    margin-top: 50px;
    width: 100%;
    position: absolute;
}

.footer-bar__content{
    background-color:#f2f2f2;
    height: 42px;
    border-bottom-color:#efefef;
    border-style: solid;border-right-width: 0px;
    border-left-width: 0px;border-top-width: 1px;
    border-bottom-width: 1px;
    border-color:#e3e3e3;
}

.footer-bar__text-top{
    color:#767676;
    font-size: 15px;
    margin-left: 30px;
    padding-top: 10px;
    text-align: left;
}

.footer-bar__text-bottom{
    color:#767676;
    font-size: 13px;
    margin-left: 30px;
    padding-top: 11px;
    text-align: left;
}

.footer-bar__catagories--bottom-spacing{
    margin-left: 23px
}

.footer-bar__catagories{
    cursor: pointer;
}

/*footer-bar events*/

.footer-bar__catagories:hover{
    text-decoration: underline;
}

/*drop-down*/

.drop-down__button {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    background-color:#495057;
    color: white;
    padding-bottom: 7px;
    width: 74px;
    font-size: 15px;
    margin-left: -1px;
    border: none;
    text-align: center;
    font-weight: bold;
    vert-align: bottom;
    transition: background-color .15s ease-in-out;
}

.drop-down {
    position: relative;
    display: inline-block;
    margin-left: 160px;
    width: 79px;
    height: 27px;
}

.drop-down__content {
    display: none;
    position: absolute;
    background-color: #ffffff;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.4);
    z-index: 1;
    margin-left: -1px;
    font-size: 14px;
    border-bottom: 5px solid red;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
}

.drop-down__content a {
    color: black;
    padding: 5px 5px;
    text-decoration: none;
    display: block;
    outline: 0;
    padding-bottom: 7px;
}

.drop-down__item
{
    border-bottom: 0.5px solid #f2f2f2;
    height: 33px;
}

/*drop-down events*/
.drop-down__content a:hover
{
    background-color: #005cbf;
    color: white;
}

.drop-down:hover .drop-down__content
{
    display: block;
    height: 135px;
    opacity:0.9;
}

.drop-down:hover .drop-down__button
{
    background-color: #005cbf;
}

.drop-down__top-item:hover
{
    border-top-right-radius: 4px;
}

.drop-down__bottom-item
{
}

.drop-down__bottom-item:hover
{
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    height: 37px;
}
