/*detail_header style*/
.sb_detail-header{
	height: 122px;
	background-color:#fafafa;
	margin-top: -24px;

	border-bottom-color:#efefef;
	border-style: solid;border-right-width: 0px;
	border-left-width: 0px;border-top-width: 1px;
	border-bottom-width: 1px;
	border-color:#ebebeb;
    width: 2000px;
    padding-top: 23px;
    margin-left: 13.5px;
}

.sb_detail-header__logo{
    width: 120px;
	float: left;
    cursor:pointer;
}

.sb_detail-header__search-form{
	width: 23%;
	float: left
}

.sb_detail-header__search-icon{
	width: 17px;
    position: absolute;
    left: 748px;
    top: 33px;
}

.sb_detail-header__search-button{
    position: absolute;
    left: 733px;
    top: 20px;
    height:42px;
    width:50px;
    opacity: 0;
    cursor: pointer;
}

.sb_detail-header__search-icon-container{
    margin-left:13.5px;
}

.sb_detail-header__search-button-container{
    margin-left: 26.5px;
}

.sb_detail-header__search-box{
	border-radius: 3px;
	height:46px;
	box-shadow: 0 1.85px 1.5px -1.5px #999999;
	border-color: #e7e7e7;
	width:632px;
	margin:0 auto;
	display:block;
	margin-top: -6px;
	margin-left: 17px;
}
.sb_detail-header__search-input{
    align-self: center;
    width:90%;
    height: 100%;
    font-size: 16px;
    color: black;
    border:0px;
}

.sb_detail-header__search-input:focus{
    border:0px solid;
    outline: none;
}

.sb_detail-header__catagories-container{
	margin-top: 26px;
	margin-left: -3px;
    width: 900px;
}

.sb_detail-header__catagories{
	margin-left: 20px;
	font-size: 12.5px;
	color: #777;
	cursor: pointer;
	display: block;
	width: 49px;
	height: 31px;
	float: left;
	text-align: center;
    user-select: none;
    font-family: Arial;
}

/*search events*/
.sb_detail-header__search-box:hover{
    box-shadow : 0px 4px 8px -1.5px #cccccc;
}

.sb_detail-header__search-box:focus{
    box-shadow : 0px 4px 12px -1.5px #cccccc;
}

.sb_detail-header__catagories:hover:not(.active){
	color : #000000;
}

.active{
	color: #1a88ed;
	font-weight : bold;
	border-bottom : 3px solid #1A73E8;
}

/*result-url style*/
/*********************************************** File Divider ****************************************************/
.wp_result{
    min-height: 45vh;
}

.wp_result__header{
	font-size: 18px;
	margin-left: 165.5px;
	color:#1a0dab;
	cursor: pointer;
    font-family: arial,sans-serif;
    line-height: 1.2;
    white-space: nowrap;
    max-width: 550px;
    word-wrap: break-word
}

.wp_result__header--spacing-top{
    margin-top: 22px;
}

.wp_result__link{
	margin-top: 0px;
	font-size: 14px;
    font-family: arial,sans-serif;
    line-height: 16px;
	margin-left: 165.5px;
	color:#006621
}

.wp_result__description{
    font-family: arial,sans-serif;
    margin-top: -17px;
	font-size: 13.5px;
	margin-left: 165.5px;
	color:#545454;
	width: 550px;
}

/*result-url events*/
.wp_result__header:hover{
    text-decoration: underline;
}

/*pagination style*/
.wp_pagination_view{
	margin-left: -85px;
}

.wp_pagination__navigation{
	margin-top: 40px;
	background-color:#f2f2f2;
	height: 44px;
	width:100px;
	border-width: 0px;
	color:#6c6c6c;
	font-size: 13px;
    font-weight: bold;
    padding-top: 2px;

}

.wp_pagination__margin-left{
	margin-left: 250px;
}

.wp_pagination__margin-right{
	margin-left: -5px;
}

.wp_pagination_pages {
    display: inline-block;
}

.wp_pagination_pages a {
    color: black;
    padding: 10px 16px;
    text-decoration: none;
    transition: background-color .3s;
    border: 1px solid #ddd;
	margin-left: -5px;
}

.wp_pagination_pages a.active {
    background-color: #495057;
    color: white;
    border: 1px solid #495057;
}

.wp_pagination_pages a:hover:not(.active) {
	background-color: #ddd;
}

/*result-url events*/
.wp_pagination--border-left:hover{
    border-width: 0.8px;
    border-right-width: 0px;
}
.wp_pagination--border-right:hover{
    border-width: 0.8px;
    border-left-width: 0px;
}
.wp_pagination__navigation:hover{
	color : #000000;
    backgroundColor : #F2F2F2;	
    background: linear-gradient(#f7f7f7,#f1f1f1);	
	border-style: solid;
	border-color:#C4C4C4;
	border-radius: 2px;
	cursor: default;
    height: 43px;
}

/*header_catagory.blade*/
/*********************************************** File Divider ****************************************************/

.hc_drop-down__button {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    font-size: 14px;
    color: #777;
    padding-bottom: 7px;
    width: 105px;
    margin-left: -1px;
    border: none;
    text-align: center;
    vert-align: bottom;
    transition: background-color .15s ease-in-out;
    text-transform: capitalize
}

.hc_drop-down {
    margin-top: 63px;
    position: relative;
    display: inline-block;
    width: 59px;
    margin-left: 13px;
}

.hc_drop-down--margin-left{
    margin-left: 22px;
}

.hc_drop-down__report-header{
    margin-left: 18px;
    margin-top: 10px;
    font-weight: bold;
    color:darkgray;
    margin-bottom: -5px;
}

.hc_drop-down__report-input{
    width: 214px;
    border-radius: 2px;
    outline: none;
    margin-top: -6px;
    margin-left: 8px;
    font-size: 13px;
    overflow-y: hidden;
    background-color: #fbfbfb;
    border: 1px #e9e9e9 solid;
    height: 33px;
}

.hc_drop-down__report-input:focus
{
    background-color: red;
}

.form-control:focus {
    border: 1px #e9e9e9 solid;
    box-shadow: 0px 1px 3px 0px lightgray;
}
.hc_drop-down__report-input:focus{
    background-color: #fbfbfb;
}

.hc_drop-down__report-input--height{
    height:100px;
    resize: none;
    padding: 5px;
}

.hc_drop-down__report-button{
    width: 80px;
    height: 25px;
    border-radius: 2px;
    outline: none;
    margin-top: 8px;
    margin-left: 8px;
    text-align: center;
    font-size: 13px;
    padding-bottom: 25px;
    font-weight: bold;
}

.hc_drop-down__content {
    display: none;
    position: absolute;
    background-color: #ffffff;
    min-width: 135px;
    box-shadow: 0px 2px 6px 0px rgba(0,0,0,0.4);
    z-index: 1;
    margin-left: 33px;
    font-size: 14px;
    margin-top: -3px;
}

.hc_drop-down__content--size{
    width: 230px;
    margin-left: 10px;
    min-height: 295px;
}

.hc_drop-down__content a {
    color: black;
    padding: 5px 5px;
    text-decoration: none;
    display: block;
    outline: 0;
    padding-bottom: 7px;
}

.hc_drop-down__item
{
    min-width: 135px;
    height: 30px;
    color: #222222;
    font-family: Arial;
    font-size: 13px;
    text-align: left;
    line-height: 23px;
    padding-left: 100px;
}

/*drop-down events*/
.hc_drop-down__content a:hover
{
    background-color: #e6e6e6;
    color: #222222;
}

.hc_drop-down:hover .hc_drop-down__content
{
    display: block;
    height: 128px;
    opacity:0.98;
}

.hc_drop-down:hover .hc_drop-down__button
{
    color: #222222;
    text-decoration: underline;
    cursor: pointer;
}

.hc_drop-down__top-item
{
    margin-top: 4px;
}

.hc_drop-down__bottom-item:hover
{
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    height: 37px;
}

/*result_content.blade*/
/*********************************************** File Divider ****************************************************/
.rc_warning-bar {
    border-bottom : 1px solid #efefef;
    background-color: #ffcc99;
    font-weight: bold;
    width: 100%;
    font-size: 14px;
    height:29px;
    padding-top: 2.5px;
    text-align: center;
    color: white;
}

/*result-status style*/
.rc_result__status{
    margin-left: 165.5px;
    color: #77778c;
    font-size: 13.3px;
    margin-top: 10px;
    width: 400px;
}

.rc_result-not-found
{
    margin-top: 55px;
    margin-left: 170px;
}

.rc_result-not-found__message-header
{
    float: left;
}

.rc_result-not-found__message-header--query
{
    float: left;
    font-size: 16px;
    max-width: 30%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin-right: 5px
}

.rc_result-not-found__suggestion-text
{
    font-size: 16px;
    margin-top: -10px;
    float: left
}

.rc_result-not-found__suggestion-container
{
    clear: left;
    margin-left: -1.35em;
}

.rc_result-not-found__suggestion-item
{
    font-size: 14.5px;
    margin-top: -2px;
}
